 .header{
    background-color: #722F37 !important;
}
.heading{
    color: white !important;
    font-size:auto !important;
}

.custom-btn {
    color: #722F37 !important;
    background-color: white !important;
    border-color: #722F37 !important;
}

.custom-btn:hover {
    background-color: #722F37 !important;
    color: white !important;
    border: 1px solid white !important;
}

#basic-nav-dropdown{
   color:white; 
}
.text-center{
    color:#722F37;
}